@page
@model Razor2Test.Pages.Categories.IndexModel
@{
}

<a class="btn btn-primary" asp-page="/categories/Add">+</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Title
            </th>
            <th scope="col">
                Photo
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr scope="row">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    <img src="@item.PhotoPath" class="card-img-top" alt="..." style="width: 5rem;">
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="/Products/Show/ShowById" asp-route-id="@item.Id">Products</a>
                    <input type="hidden" asp-for="@item.Id" />
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="/Categories/Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>