@page
@model Razor2Test.Pages.Products.IndexModel
@{
}

<h2>Product List</h2>
<hr />

<table class="table">
    <thead class="table-dark">
    </thead>
    <tbody>
       

        <div class="container">
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="@item.PhotoPath" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="btn btn-info" asp-page="/Products/ProductDetails" asp-route-id="@item.Id">See More</a>
                                <a class="btn btn-primary" asp-page="/Products/EditDelete" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </tbody>
</table>

