@page
@model Razor2Test.Pages.Products.SeeMoreModel
@{
    ViewData["Title"] = "SeeMore";
}

<h3>@Model.newProduct.Title</h3>

<br />
<div>
    <label>@Model.newProduct.ShortDescription</label>
</div>
<br />
<div>
    <label>@Model.newProduct.LongDescription</label>
</div>
<div>
    <img src="@Model.newProduct.PhotoPath" id="photoPreview" />
</div>
<hr />

<h4>Previous Comments</h4>

@if (Model.Comments == null || Model.Comments.Count == 0)
{
    <p>No comments available.</p>
}
else
{
    foreach (var item in Model.Comments)
    {
        <ul>
            <li>
                <p>Anonymous :
            @item.Text - @item.CreationDate</p></li>
        </ul>
    }
}

<hr />
<h4>Add New Comment Here...</h4>
<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="newProduct.Id" />
        <textarea asp-for="newProduct.Comments" name="commentText"  class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="comment.Text"></span>
        <br />
    </div>
    <button class="btn btn-success" type="submit">Send Comment</button>
</form>
